<h1>Change Machine Thing: </h1>
<form action='/change' method='get'>
  <div class="form-group">
    <label for="moneyInput">Input money amount you need changed: </label>
    <input id="moneyInput" name="moneyInput" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Change!</button>
</form>
